/* Font properties */
@font-face {
    font-family: lato-regular;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(fonts/Lato-Bold.ttf);
}

/* Custom properties */
:root {
    --top-nav-text-color: #1865f2;
}

body{
    /* Removes default white space surrounding page */
    padding: 0;
    margin: 0;

    /* Set default fonts */
    font-family: lato-regular, Helvetica, sans-serif;    
}

/* Navbar */
nav.top-nav ul{
    /* Remove bullet points */
    list-style-type: none;

    padding: 0;
    margin: 0;

    font-family: lato-bold, Helvetica, sans-serif;

    border-bottom: 1px solid #dddddd;
}

nav.top-nav ul.vertical{
    display: none;
}

nav.top-nav ul.vertical li{
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #dddddd;
}

nav.top-nav ul.horizontal{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 0;
}

nav.top-nav ul.horizontal li{
    padding: 10px 10px 10px 10px;
    display: inline-block;

}
nav.top-nav ul.horizontal li:not(:first-child){
    display: inline;
    float: right;
    font-size: 18px;
}

nav.top-nav ul.horizontal li:not(:first-child) a{
    display: none;
}

nav.top-nav a{
    color: var(--top-nav-text-color);
    text-decoration: none;
}

nav.top-nav a:hover{
    border-bottom: 2px solid var(--top-nav-text-color);
}

.active-page{
    border-bottom: 2px solid var(--top-nav-text-color);
}

#toggle{
    display:none
}

.burger-menu{   
    font-weight: bold;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    color: var(--top-nav-text-color);
}

input:checked ~ nav.top-nav ul.vertical{
    display: block;
}
input:checked ~ nav.top-nav ul li label span{
    display: none;
}
input:checked ~ nav.top-nav ul li label.burger-menu::after{
    content: "✕";
}

@media screen and (min-width: 750px) {
    nav.top-nav ul.horizontal{
        padding-left: 1%;
        padding-right: 0%;
    }

    nav.top-nav ul.horizontal li:not(:first-child) a{
        display: block;
    }

    .burger-menu{
        display: none;
    }

    nav.top-nav ul.vertical{
        display: none;
    }

    input:checked ~ nav.top-nav ul.vertical{
        display: none;
    }
    input:checked ~ nav.top-nav ul li label span{
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    nav.top-nav ul.horizontal{
        padding-left: 13%;
        padding-right: 13%;
    }
}
/* Head */
.head-image{
    float: left;
    max-width:100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 30px;
}

/* Blog post */
.blog-container{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.blog-title{
    margin-bottom: 0;
}

.blog-description{
    margin-top: 0;
    color: #666666;
}

.blog-author{
    /* color: var(--top-nav-text-color); */
    margin-bottom: 0;
}

.blog-date{
    margin-top: 2mm;
    color: #666666;
}

.blog-head-image{
    float: left;
    max-width:100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 30px;
}

.blog-content{
}

@media screen and (min-width: 850px){
    .blog-container{
        width: 50%;
    }
}

/* Footer */
footer{
    padding: 40px;

    background-color: #0B2149;
    color: white;
}

footer a:link, a:visited{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
