/* Font properties */
@font-face {
    font-family: lato-regular;
    src: url(fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: lato-bold;
    src: url(fonts/Lato-Bold.ttf);
}

/* Custom properties */
:root {
    --top-nav-text-color: #1865f2;
}

body{
    /* Removes default white space surrounding page */
    padding: 0;
    margin: 0;

    /* Set default fonts */
    font-family: lato-regular, Helvetica, sans-serif;    
}

main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    overflow: hidden;
    margin-bottom: 4%;
}

@media screen and (min-width: 850px){
    main{
        width: 60%;
    }
}

/* Navbar */
nav.top-nav ul{
    /* Remove bullet points */
    list-style-type: none;

    padding: 0;
    margin: 0;

    font-family: lato-bold, Helvetica, sans-serif;

    border-bottom: 1px solid #dddddd;
}

nav.top-nav ul.vertical{
    display: none;
}

nav.top-nav ul.vertical li{
    padding: 10px 10px 10px 15px;
    border-bottom: 1px solid #dddddd;
}

nav.top-nav ul.horizontal{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 0;
}

nav.top-nav ul.horizontal li{
    padding: 10px 10px 10px 10px;
    display: inline-block;

}
nav.top-nav ul.horizontal li:not(:first-child){
    display: inline;
    float: right;
    font-size: 18px;
}

nav.top-nav ul.horizontal li:not(:first-child) a{
    display: none;
}

nav.top-nav a{
    color: var(--top-nav-text-color);
    text-decoration: none;
}

nav.top-nav a:hover{
    border-bottom: 2px solid var(--top-nav-text-color);
}

.active-page{
    border-bottom: 2px solid var(--top-nav-text-color);
}

.burger-menu{   
    font-weight: bold;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;

    color: var(--top-nav-text-color);
}

input:checked ~ nav.top-nav ul.vertical{
    display: block;
}
input:checked ~ nav.top-nav ul li label span{
    display: none;
}
input:checked ~ nav.top-nav ul li label.burger-menu::after{
    content: "✕";
}

@media screen and (min-width: 750px) {
    nav.top-nav ul.horizontal{
        padding-left: 1%;
        padding-right: 0%;
    }

    nav.top-nav ul.horizontal li:not(:first-child) a{
        display: block;
    }

    .burger-menu{
        display: none;
    }

    nav.top-nav ul.vertical{
        display: none;
    }

    input:checked ~ nav.top-nav ul.vertical{
        display: none;
    }
    input:checked ~ nav.top-nav ul li label span{
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    nav.top-nav ul.horizontal{
        padding-left: 13%;
        padding-right: 13%;
    }
}
/* Head */
header h1{
    text-align: center;
    padding-left: 4.5%;
    padding-top: 4.5%;
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 9vw;
}
.head-image{
    float: left;
    width:100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 30px;
    filter: brightness(60%)

}

@media screen and (min-width: 850px) {
    header h1{
        padding-top: 6%;

        padding-left: 13.2%;
        font-size: 7vw;
    }
}

/* Blog post */
.blog-container{
    padding-top: 5%;
}

.blog-title{
    margin-bottom: 0;
}

.blog-description{
    margin-top: 0;
    color: #666666;
    margin-bottom: 0;
}

.blog-author{
    margin-bottom: 0;
}

.blog-date{
    margin-top: 2mm;
    color: #666666;
}

.blog-head-image{
    float: left;
    max-width:100%;
    height: auto;
    object-fit: cover;
    padding-bottom: 30px;
}

.blog-content p, h3{
    margin: 0;
    padding-top: 9px;
}

/* Study skills */
.study-container{
}

.dropdown-block{
    margin-top: 2%;
}

.dropdown-block h2{
    display: inline-block;
    margin: 0;
}

.dropdown-block label{
    display: inline;
    float: right;
}

.dropdown-block article{
    height: 0;
    overflow: hidden;
    transition: 1s;
}

input:checked ~ article{
    height: 200px;
}

.dropdown-block label{
    transition: transform .4s;
}

input:checked ~ label{
    transform: rotate(0.5turn);
}

/* Contact */
.contact-container{
}

.contact-container div, #contact-submit{
    padding-top: 6%;
}
.contact-container div input{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
    font-family: lato-regular;
}

div.name-container input{
    /* width: 48%; */
}

div.name-container input:nth-child(2){
    display: block;
    padding-top: 6%;

}


#contact-topics{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: black solid 1px;
    font-family: lato-regular;
}

#contact-submit{
    padding: 2%;
    width: 100%;
    text-align: center;
    color: var(--top-nav-text-color);
    background-color: white;
    border: 1px solid black;
    /* overflow: hidden;         */

}

#contact-submit:hover{
    border: 1px solid var(--top-nav-text-color);
}

.contact-container div input::placeholder{
    color: black;
}


@media screen and (min-width: 850px){
    div.name-container input {
        width: 48%;

    }

    div.name-container input:nth-child(2){
        float: right;
        padding-top: 0%;
    }

    #contact-submit{
        width: 20%;
        float: right;
    }
}

/* Footer */
footer{
    padding: 40px;

    background-color: #0B2149;
    color: white;
}

footer a:link, a:visited{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}
